html {
   height: 100%;
}

body {
   position: relative;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

div, p {
   margin: 0;
   padding: 0;
}

#content {
   position: relative;
   background-color: pink;
   display: grid;
   /* flex-direction: row; */
   /* justify-content: space-between; */
   grid-template-columns: 25% auto 25%;
   width: 100%;
   min-height: 100% !important;
   height: 100%;
   transition: .5s ease-in-out;
}

/* #content #left_pane:hover {
   transition: .5s ease-in-out;
} */

#left_pane {
   /* flex-grow: 1; */
   background-color: yellow;
}

.ro_canvas_container {
   width: 6em;
   padding-bottom: .2em;
}

/* 
#left_pane:hover {
   flex-grow: 0;
} */

#middle_pane {
   height: 100%;
   position: relative;
   /* flex-grow: 2; */
   /* flex-basis: 50%; */
   color:blue;
}

#event_list {
   height: 80%;
   overflow-y: auto;
   position: relative;
}

.event {
   display: grid;
   grid-template-columns: auto auto auto;
   grid-template-rows: auto auto;
   margin-bottom: .3em;
}

#right_pane{
   /* flex-grow: 1; */
   background-color: green;
}

